/* 初始化边距 */
ul,h1,h2,h3,h4,h5,p,img,div{
	margin: 0;
	padding: 0;
}

/* 页面居中 */
body{
	margin: 0 auto;
	width: 1280px;
}

/* 设置header的样式 */
header{
	height: 56px;
	position: relative;
}

.logo h1{
	position: absolute;
	left: 100px;
	top: 15px;
	font: 21px "Simhei";
	color: #282828;
}
.logo img{
	position: absolute;
	left: 53px;
	top: 10px;
}

nav{
	float: right;
	padding-right: 50px;
	font: 14px "Yahei";
}
nav ul{
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	padding: 1em 1em;
	color: #282828;
}
li a{
	text-decoration: none;
}
li:hover{
	color: #e74f4d;
	border-bottom: 3px solid #e74f4d;
}

li.login{
	color: #e74f4d;
}
.login:before{
	content:url(task_1_7_1_01_05.gif);
	position: relative;
	top: 5px;
}

/* banner的样式 */
div.banner{
	/* width: 1280px; */
	height: 690px;
	background: url(banner.jpg) no-repeat;
	padding: 184px 0 0 124px;
	box-sizing: border-box;
}
.banner h1{
	font: 60px "Yahei";
	color: white;
	position: relative;
	left: -10px;
}
.banner>p{
	font: 21px "Yahei";
	color: white;
	margin-top: 5px;
	margin-bottom: 66px;
}
.banner button{
	border: none;
	width: 331px;
	height: 65px;
	background-color: #e74f4d;
	color: white;
	font: 30px "Yahei";
	letter-spacing: 0.1em;
}

/* intro的样式 */
.intro{
	height: 250px;
}
.intro div{
	display: inline-block;
	width: 300px;
	text-align: center;
}
.intro img{
	width: 40px;
	height: 40px;
	padding-top: 45px;
	padding-bottom: 48px;
}
.intro p{
	height: 53px;
	margin-bottom: 64px;
	font: 14px "Simhei";
	color: #767777;
	border-right: 1px solid #767777;
}
.intro div:nth-child(4) p:nth-child(2){
	border: none;
}

/* info的样式 */
.info{
	background: #ededec;
	padding-bottom: 80px;
	padding-top: 90px;
}
.info img{
	display: block;
	width: 90px;
	height: 90px;
	padding-bottom: 60px;
	margin: 0 auto;
 }
.info p{
	text-align: center;
	font: 53.59px "Simhei";
	color: #a1a1a1;
}

/* city的样式 */
.city{
	box-sizing: border-box;
	height: 340px;
	background: url('组2_02.jpg');
	padding-top: 56px;
}
.city h2{
	font: 21px "Yahei";
	color: white;
	text-align: center;
}
.city hr{
	width: 1.5em;
}
.city h4{
	font: 12px "Yahei";
	color: white;
	text-align: center;
	margin-bottom: 52px;
}
.city form{
	text-align: center;
}
.city select{
	width: 236px;
	height: 36px;
	display: inline-block;
	margin: 0 15px;
	color: #a1a1a1;
	font: 12px "Yahei";
	/* appearance: none; */
	/* background-color: white; */
	/* background: url('task_1_7_1_03.jpg') no-repeat right; */

}
.city button{
	width: 236px;
	height: 36px;
	display: inline-block;
	background-color: #e74f4d;
	font: 14px "Yahei";
	color: white;
	border: none;
	margin-left: 15px;
}

/* activity1的样式 */
.activity1{
	height: 604px;
	background: #ededec;
	box-sizing: border-box;
	padding: 104px 145px;
}
.activity1 img{
	background: white;
	padding: 8px;
	outline: #e6e6e6 solid 1px;
	width: 201px;
	height: 312px;
}
.activity1 div{
	display: inline-block;
}
.activity1 div:nth-child(1), .activity1 div:nth-child(2),.activity1 div:nth-child(3){
	margin-right: 35px;
}
.activity1 div:nth-child(1) h3,.activity1 div:nth-child(3) h3,.activity1 div:nth-child(4) h3{
	font: bold 14px "Yahei";
	color: #323333;
	text-align: center;
	line-height: 2em;
}
.activity1 div:nth-child(2) h3{
	font: bold 18px "Yahei";
	color: #323333;
	text-align: center;
	line-height: 2em;
	letter-spacing: 2em;
}
.activity1 h4{
	font: 12px "Yahei";
	color: #9f9f9f;
	text-align: center;
	line-height: 2em;
}
