/* 初始化边距 */
ul,h1,h2,h3,h4,h5,p,img,div{
	margin: 0;
	padding: 0;
}

/* 页面居中 */
body{
	margin: 0 auto;
	width: 1280px;
}

/* 设置header的样式 */
header{
	height: 56px;
	position: relative;
}

.logo h1{
	position: absolute;
	left: 100px;
	top: 15px;
	font: 21px "Simhei";
	color: #282828;
}
.logo img{
	position: absolute;
	left: 53px;
	top: 10px;
}

nav{
	float: right;
	padding-right: 50px;
	font: 14px "Yahei";
}
nav ul{
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	padding: 1em 1em;
	color: #282828;
}
li a{
	text-decoration: none;
}
li:hover{
	color: #e74f4d;
	border-bottom: 3px solid #e74f4d;
}

li.login{
	color: #e74f4d;
}
.login:before{
	content:url(task_1_7_1_01_05.gif);
	position: relative;
	top: 5px;
}

/* banner的样式 */
div.banner{
	/* width: 1280px; */
	height: 690px;
	background: url(banner.jpg) no-repeat;
	padding: 184px 0 0 124px;
	box-sizing: border-box;
}
.banner h1{
	font: 60px "Yahei";
	color: white;
	position: relative;
	left: -10px;
}
.banner>p{
	font: 21px "Yahei";
	color: white;
	margin-top: 5px;
	margin-bottom: 66px;
}
.banner button{
	border: none;
	width: 331px;
	height: 65px;
	background-color: #e74f4d;
	color: white;
	font: 30px "Yahei";
	letter-spacing: 0.1em;
}

/* intro的样式 */
.intro{
	height: 250px;
}
.intro div{
	display: inline-block;
	width: 300px;
	text-align: center;
}
.intro img{
	width: 40px;
	height: 40px;
	padding-top: 45px;
	padding-bottom: 48px;
}
.intro p{
	height: 53px;
	margin-bottom: 64px;
	font: 14px "Simhei";
	color: #767777;
	border-right: 1px solid #767777;
}
.intro div:nth-child(4) p:nth-child(2){
	border: none;
}

/* info的样式 */
.info{
	background: #ededec;
	padding-bottom: 80px;
	padding-top: 90px;
}
.info img{
	display: block;
	width: 90px;
	height: 90px;
	padding-bottom: 60px;
	margin: 0 auto;
 }
.info p{
	text-align: center;
	font: 53.59px "Simhei";
	color: #a1a1a1;
}

/* city的样式 */
.city{
	box-sizing: border-box;
	height: 340px;
	background: url('组2_02.jpg');
	padding-top: 56px;
}
.city h2{
	font: 21px "Yahei";
	color: white;
	text-align: center;
}
hr{
	width: 1.5em;
}
.city h4{
	font: 12px "Yahei";
	color: white;
	text-align: center;
	margin-bottom: 52px;
}
.city form{
	text-align: center;
}
.city section{ /* 用section是为了给自定义下拉图标一个padding */
	padding-right: 10px;
	width: 236px;
	height: 36px;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 15px;
	background: white;
}
.city select{
	color: #a1a1a1;
	font: 12px "Yahei";
	width: 100%;
	height: 100%;
	border: none;
	/* 替换默认的下拉箭头 */
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: url('task_1_7_1_03.jpg') no-repeat right white;
	/* padding: 5px; */
}
.city section:hover{
	outline: 1px solid #e74f4d;
}
.city button{
	width: 236px;
	height: 36px;
	display: inline-block;
	background-color: #e74f4d;
	font: 14px "Yahei";
	color: white;
	border: none;
	margin-left: 15px;
}

/* activity1的样式 */
.activity1{
	height: 604px;
	background: #ededec;
	box-sizing: border-box;
	padding: 104px 145px;
}
.activity1 img{
	background: white;
	padding: 8px;
	outline: #e6e6e6 solid 1px;
	width: 201px;
	height: 312px;
}
.activity1 div{
	display: inline-block;
}
.activity1 div:nth-child(1), .activity1 div:nth-child(2),.activity1 div:nth-child(3){
	margin-right: 35px;
}
.activity1 div:nth-child(1) h3,.activity1 div:nth-child(3) h3,.activity1 div:nth-child(4) h3{
	font: bold 14px "Yahei";
	color: #323333;
	text-align: center;
	line-height: 2em;
}
.activity1 div:nth-child(2) h3{
	font: bold 18px "Yahei";
	color: #323333;
	text-align-last:justify; /* “上海活动”几个字两端对齐 */
	line-height: 2em;
}
.activity1 h4{
	font: 12px "Yahei";
	color: #9f9f9f;
	text-align: center;
	line-height: 2em;
}

/* activity2的样式 */
.activity2{
	height: 1086px;
	/* overflow: auto; */
}
.activity2 div:nth-child(1){
	background: url('新世界.jpg');
	width: 66%;
	height: 567px;
	float: left;
	color: white;
	text-align: center;
}
.activity2 div:nth-child(1) h2{
	font: 50px "Yahei";
	margin-top: 130px;
}
.activity2 div:nth-child(1) h3{
	font: 157px "Yahei";
}
.activity2 div:nth-child(1) p{
	font: 22px "Yahei";
}
.activity2 div:nth-child(2){
	width: 33%;
	height: 567px;
	float: left;
	text-align: center;
}
.activity2 div:nth-child(2) h2{
	font: 21px 'Simhei';
	margin-top: 167px;
}
.activity2 div:nth-child(2) p{
	font: 12px "Simsun";
	line-height: 30px;
	margin: 30px 70px;
	color: #aaaaaa;
	text-align: left;
}
.activity2 div:nth-child(2) span{
	color: #e74f4d;
}
.activity2 div:nth-child(2) button{
	width: 107px;
	height: 35px;
	font: 12px "Hahei";
	color: #e74f4d;
	background: white;
	border: 1px solid #e74f4d;
}
.activity2 div:nth-child(3),.activity2 div:nth-child(4){
	width: 33%;
	height: 521px;
	float: left;
	font: 21px "Simhei";
	color: white;
	text-align: center;
	line-height: 50px;
	background: #e74f4d;
	box-sizing: border-box;
	padding-top: 170px;
}
.activity2 div:nth-child(3) button, .activity2 div:nth-child(4) button{
	width: 170px;
	height: 44px;
	color: white;
	font: 21px "Simhei";
	background: #e74f4d;
	border: 1px solid white;
	margin-top: 10px;
}
.activity2 div:nth-child(4){
	background: white;
	color: #323333;
}
.activity2 div:nth-child(4) button{
	background: white;
	color: #e74f4d;
	border: 1px solid #e74f4d;
}
.activity2 div:nth-child(5){
	width: 33%;
	height: 521px;
	float: left;
	background: url('组 2.jpg') no-repeat;
}

/* volunteer的样式 */
.volunteer{
	height: 750px;
}
.volunteer h2{
	font: 21px "Simhei";
	color: #323333;
	text-align: center;
	width: 100%;
	margin-top: 118px;
}
.volunteer>p{
	font: 12px "Yahei";
	color: #aaaaaa;
	text-align: center;
	width: 100%;
	margin-bottom: 105px;
}
.volunteer hr{
	height:2px; /* 改变横线的颜色 */
	border:none;
	background-color: #e74f4d;
}

.leftbox{
	box-sizing: border-box;
	padding-left: 138px;
	/* margin-right: 60px; */
	width: 33%;
	margin-right: 0;
	float: left;
}
.agreement h3{
	font: 14px "Simhei";
	color: #231815;
	text-align: left;
	margin-bottom: 10px;
}
.agreement p{
	font: 12px "Simsun";
	color: #aaaaaa;
	text-align: left;
	line-height: 2em;
	height: 55px;
	overflow: hidden;
	margin-bottom: 10px;
}
.agreement button{
	position: relative;
	left: 230px;
	border: none;
	font: 12px "Simsun";
	color: #231815;
	background: white;
}
.agreement button:before{
	content: 
}
.agreement button:link{
	
}

.power h3{
	font: 14px "Simhei";
	color: #231815;
	text-align: left;
	margin-bottom: 10px;
}
.power p{
	font: 12px "Simsun";
	color: #aaaaaa;
	text-align: left;
	line-height: 2em;
	height: 55px;
	overflow: hidden;
	margin-bottom: 10px;
}
.power button{
	position: relative;
	left: 230px;
	border: none;
	font: 12px "Simsun";
	color: #231815;
	background: white;
}

.more h3{
	font: 14px "Simhei";
	color: #231815;
	text-align: left;
	margin-bottom: 10px;
}
.more button{
	position: relative;
	left: 230px;
	border: none;
	font: 12px "Simsun";
	color: #231815;
	background: white;
}
/* 表单样式 */
.volunteer form{
	display: block;
	box-sizing: border-box;
	width: 65%;
	float: right;
	overflow: auto;
	background: white;
	padding-left: 77px;
	padding-right: 40px;
}
.volunteer form section{ /* 每个控件的大小、间距 */
	display: inline-block;
	box-sizing: border-box;
	background: #ededef;
	margin: 0 10px 10px 0;
	padding: 0 10px;
}
.volunteer form input{
	background: #ededef;
}
.volunteer form label{
	font: 12px "Simsun";
	color: #231815;
}
.volunteer form section:nth-child(1), .volunteer form section:nth-child(2), .volunteer form section:nth-child(3), .volunteer form section:nth-child(4){ /* 前4个控件的大小 */
	width: 311px;
	float: left;
	
}
.volunteer form input:nth-child(1), .volunteer form input:nth-child(2), .volunteer form input:nth-child(3), .volunteer form input:nth-child(4){ /* 前4个输入框的大小 */
	border: none;
	height: 50px;
}
.volunteer form section:nth-child(5){ /* 第5个控件的大小 */
	height: 117px;
	width: 635px;
}
.volunteer form textarea{ /* 多行输入区域的大小 */
	background: #ededef;
	border: none;
	width: 80%;
	height: 80%;
}
.volunteer form section:nth-child(6){
	width: 635px;
	text-align: center;
}

/* footer样式 */
footer{
	
	color: white;

	position: relative;
}
footer div:nth-child(1){
	height: 362px;
	padding-top: 90px;
	background: #32363e;
	text-align: center;
}
footer h2{
	font: 21px "Simhei";
}
footer p{
	font: 12px "Simsun";
	line-height: 1.5em;
	margin: 10px 0 10px;
}
footer section{
	margin: 40px 0 40px;
}
footer section input{
	display: inline-block;
	height: 30px;
}
footer section input:nth-child(1){
	width: 500px;
	border: none;
	padding: 0;
}
footer section input:nth-child(2){
	width: 80px;
	background: #6f7178;
	border: none;
	font: 15px "Yahei";
	padding: 0;
	color: white;
}
footer div:nth-child(2){
	width: 100%;
	height: 54px;
	background: #2f2f38;
	color: white;
	position: absolute;
	bottom: 0;
}
footer small{
	display: inline-block;
	font: 12px "Simsun";
	margin: 26px 0 0 99px;
}
footer div button{
	float: right;
	margin: 26px 99px 0 0;
	font: 12px "Simsun";
	background: transparent;
	color: white;
	border: none;
}
footer img{
	margin: 0 10px;	
}
