/*样式初始化*/

body,
form,
nav,
header,
a,
ul,
li,
fieldset,
section,
div ,select,label,input,p,h1,h2,h3{
    padding: 0;
    margin: 0;
    font: 12px Yahei,sans-serif;
    color: #323333;
    outline: 1px solid red;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}


/*样式初始化结束*/


/*header的样式*/

header {
    /* header的宽度与浏览器宽度一致 */
    width: 100%;
    background: #2189bf;
    clear: both;
    /* 不让aside浮动到顶 */
}

header>div {
    height: 55px;
    color: white;
    width: 1280px;
    margin: 0 auto;
}


/*浮动logo到左边*/

.logo {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    width: 36px;
    height: 36px;
}


/*浮动login到右边*/

.login {
    float: right;
    margin-right: 94px;
    margin-top: 18px;
    font: 12px Simhei, sans-serif;
}

.login:before {
    content: url('login.gif');
    position: relative;
    right: 5px;
    top: 3px;
}


/*搜索框*/

header form {
    float: right;
    margin-top: 15px;
    margin-right: 50px;
    border-radius: 2em;
    background: white;
    width: 313px;
    height: 28px;
}

header form img {
    width: 17px;
    height: 17px;
    position: relative;
    top: 4px;
    left: 6px;
}

header form input {
    width: 90%;
    border: none;
}


/*main的样式*/

main {
    width: 1020px;
    background: #e1e1e0;
}


/*面包屑导航样式*/

main nav {
    width: 100%;
    height: 33px;
    background: white;
}

main nav ul {
    list-style: none;
    height: 100%;
}

main nav ul li {
    float: left;
    width: 60px;
    text-align: center;
    height: 100%;
    font: 12px Simhei, sans-serif;
    color: #aaaaaa;
}

main nav ul li+li a:before {
    content: '/';
    position: relative;
    right: 10px;
}

main nav ul li a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding-top: 10px;
}


/*查询表单样式*/


/* 表单整体样式 */

main>form {
    width: 890px;
    height: 86px;
    margin: 30px auto 0 auto;
    background: white;
}


/* 表单字体样式颜色 */

main form fieldset label {
    font: 12px Simhei, sans-serif;
    color: #aaaaaa;
}

main form input {
    font: 12px Simhei, sans-serif;
    color: #323333;
    height: 24px;  /* input设成26却不是26高。无奈只能设成24 */
    border: 1px solid #aaaaaa;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

main form select {
    font: 12px Simhei, sans-serif;
    color: #323333;
    border: 1px solid #aaaaaa;
    height: 26px;
    /* 去掉箭头 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
/* 添加新的下拉箭头,且把箭头定位到元素90%,50%的位置 */
main form select {
	background: url('箭头.gif') no-repeat 90% 50%; 
	padding-left: 5px; /* 把文字往框右边移一点 */
}

/* 四个区域排成行 */

main>form fieldset {
    display: inline-block;
    height: 75px;
    margin-top: 10px; /* 区域上边距 */
    vertical-align: top;
    border: none;
}
main>form>fieldset label{
	margin-right: 10px;
}


/* 各区域样式 */


/* 第一区域样式 */

main>form>fieldset:first-child {
    width: 122px;
    margin-left: 30px;  /* 左边距 */
}

main>form>fieldset:first-child label {
    /* margin-right: 15px; */
}

main>form>fieldset:first-child select {
    width: 68px;
}


/* 第二区域样式 */

main>form>fieldset:nth-child(2) {
    width: 159px;
    margin-left: 40px;
    position: relative;  /* 为给img定位 */
}
main>form>fieldset:nth-child(2) div{
	position: absolute;
	top: 2px;
	right: 0;
}
main>form>fieldset:nth-child(2) section+section{
	margin-top: 10px;
}
main>form>fieldset:nth-child(2) label {
    /* margin-right: 15px; */
}

main>form>fieldset:nth-child(2) select {
    width: 90px;
}


/* 第三区域样式 */

main>form>fieldset:nth-child(3) {
    width: 292px;
    margin-left: 30px;
}

main>form>fieldset:nth-child(3) section {
    display: inline-block;
}

main>form>fieldset:nth-child(3) section:first-child {
    width: 160px;
}
main>form>fieldset:nth-child(3) section:first-child input{
	width: 115px;
}
main>form>fieldset:nth-child(3) section:nth-child(2) {
	/* margin-left: 15px; */
    width: 115px;
}
main>form>fieldset:nth-child(3) section:nth-child(2) select{
	width: 50px;
}
main>form>fieldset:nth-child(3) section:nth-child(3) {
    width: 110px;
    margin-top: 10px;
}
main>form>fieldset:nth-child(3) section:nth-child(3) select{
	width: 50px;
}
main>form>fieldset:nth-child(3) section:nth-child(4) {
	/* margin-left: 15px; */
    width: 162px;
    margin-top: 10px;
}
main>form>fieldset:nth-child(3) section:nth-child(4) select{
	width: 100px;
}


/* 第四区域样式 */

main>form>fieldset:nth-child(4) {
	margin-top: 30px;
	margin-left: 30px;
    width: 160px;
  	height: 30px;
}
#lookfor2{  /* 把提交按钮单独定义样式 */
	background: #2189bf;
	border: none;
	color: white;
	width: 47px;
	text-align: center;
}

/*历史查询样式*/

div.history{
    width: 890px;
    height: 66px;
    margin: 10px auto 0 auto;
}
.history-box{
	display: inline-table;
	height: 66px;
	background: white;
	outline: 1px solid #aaaaaa;
	text-align: center;
}
/* 第2至7个盒子的宽、样式 */
.history-box-middle{
	width: 108px;
	margin-left: 3px;
	height: 63px;
	border-top: 3px solid transparent;/* 平常上边框看不见 */
}
.history-box-middle:hover{
	border-top: 3px solid #2189bf;/* 鼠标悬停时上边框才可见 */
}
.history-box-middle p{
	font-weight: bold;
	margin-top: 10px;
}
/* 红色数字的样式 */
.history-box-middle p+p{
	font: 21px Yahei;
	color: #ec6500;
}
.history-box-middle p+p:before{
	content: url('钱.jpg');
}
/* 第1、8个盒子的样式 */
.history-box-small{
	width: 28px;
	height: 66px;
	background: white;
	outline: 1px solid #aaaaaa;
	position: relative;
	top: -25px;
}
/* 箭头居中 */
.history-box-small img{
	position: absolute;
	top: 40%;
	left: 40%;
}
/* 最右边一块的样式 */
.historycheck{
	position: relative;
	top: -25px;
	width: 120px;
	/* height: 100%; */
}
.historycheck p,.historycheck img{
	display: inline-block;
}
.historycheck p{
	position: absolute;
	top: 25px;
}
.historycheck img{
	vertical-align: middle;
	position: absolute;
	left: 15px;
	top: 15px;
}

/*统计样式*/

div.sum {
    width: 890px;
    margin: 22px auto 0 auto;
}
/* 四个大盒子 */
.sum-box{
	width: 195px;
	height: 72px;
	display: inline-block;
	outline: 1px solid #aaaaaa;
	background: white;
}
div.sum>div+div{
	margin-left: 26px;
}
div.sum>h2{
	font-weight: bold;
	margin-bottom: 5px;
}
div.sum>div>p:first-child{
	font: bold 12px Simhei,sans-serif;
	width: 40px;
	position: relative;
	top: 20px;
	left: 13px;
}
div.sum>div>p+p{
	font: 12px Simhei,sans-serif;
	width: 40px;
	color: #aaaaaa;
	position: relative;
	top: 25px;
	left: 13px;
}
/* 四个彩色盒子 */
.sum-color-box {
    width: 60px;
    height: 46px;
    float: right;
    position: relative;
    top: -15px;
    left: -15px;
}
/* 第一个盒子颜色 */
div.sum>:nth-child(2){
	border-left: 3px solid #43b29e;
}
div.sum>:nth-child(2) div{
	background: #43b29e;
}
/* 第二个盒子颜色 */
div.sum>:nth-child(3){
	border-left: 3px solid #388ac1;
}
div.sum>:nth-child(3) div{
	background: #388ac1;
}
/* 第三个盒子颜色 */
div.sum>:nth-child(4){
	border-left: 3px solid #d04b36;
}
div.sum>:nth-child(4) div{
	background: #d04b36;
}
/* 第四个盒子颜色*/
div.sum>:nth-child(5){
	border-left: 3px solid #e2cd47;
}
div.sum>:nth-child(5) div{
	background: #e2cd47;
}
/*几个盒子的总体样式*/

div.box {
    background: ;
    outline: font: ;
    border:
}

div.box h2 {
    background: ;
    font: ;
    color: ;
}


/*几个盒子的总体样式结束*/


/*侧栏样式*/


/*侧栏总体样式*/

aside {
    width: 260px;
    background: ;
    font: color: ;
    float: left;
}


/*侧栏总体样式结束*/


/*头像样式*/

aside div:first-child div:first-child {}


/*用户名*/

aside div:first-child div:nth-child(2) {
    color:
}


/*收藏和粉丝*/

aside div:first-child div:nth-child(3),
aside div:first-child div:nth-child(4) {
    display: inline-block;
    width: ；
}


/*导航的样式*/


/*使链接区域都可点*/

aside a {
    display: block;
}


/*鼠标动态*/

aside a:hover,
aside a:active {
    color: background；
}

aside li ul {
    /*暂时隐藏低级菜单*/
    display: none;
}


/*导航的动作*/

aside nav
