#big{
	width: 400px;
	height: 200px;
	background-color: #ccc;
	overflow: hidden;
	/* 以下是居中 */
	position: absolute;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -200px;
}
#leftfan{
	width: 100px;
	height: 100px;
	border-radius: 50% 50%;
	background-color: #fc0;
	position: absolute;
	top: -50px;
	left: -50px;
}
#rightfan{
		width: 100px;
	height: 100px;
	border-radius: 50% 50%;
	background-color: #fc0;
	position: absolute;
	right: -50px;
	bottom: -50px;
}