/*清除所有边距*/
*{
	padding: 0;
	margin: 0;
}
/*定义容器宽度*/
.container{
	width: 100%;
}
.row{
	width: 100%;
}

/*定义响应式*/
@media all and (min-width: 769px){ 
	.col-m-1{
		width: 8.33%;
	}
	.col-m-2{
		width: 16.66%;
	}
	.col-m-3{
		width: 25%;
	}
	.col-m-4{
		width: 33.33%;
	}
	.col-m-6{
		width: 50%;
	}
}

@media all and (max-width: 768px){
	.col-s-1{
		width: 8.33%;
	}
	.col-s-2{
		width: 16.66%;
	}
	.col-s-3{
		width: 25%;
	}
	.col-s-4{
		width: 33.33%;
	}
	.col-s-6{
		width: 50%;
	}
	.col-s-8{
		width: 66.66%;
	}
	.col-s-12{
		width: 100%;
	}
}

/*定义浮动、大小*/
*{
	box-sizing: border-box;
}
[class*='col-']{
	float: left;
	height: 70px;
}
/*定义清除浮动*/
.over-flow{
    overflow: auto; zoom: 1;
}
.content{
	height: 50px;
	background-color: #eee;
	border: 1px solid #999;
	margin: 10px;
}
